<div">
  <h1>All Manufacturers</h1>
  <% @manufacturers.each do |manufacturer| %>
    <h2><%= manufacturer.name %></h2>
    <p>Created at: <%= manufacturer.created_at %></p>
  <% end %>
</div>

<a href="/guitars">Guitars Index</a>
