<div>
  <h1>All Manufacturers</h1>
  <% @manufacturers.each do |manufacturer| %>
    <h2><%= manufacturer.name %></h2>
    <p>Created at: <%= manufacturer.created_at %></p>
  <% end %>
</div>

<%= link_to 'New Manufacturer', '/manufacturers/new' %>

<div>
  <a href="/manufacturers">Manufacturers Index</a>
  <a href="/guitars">Guitars Index</a>
</div>
